body {
    background: url("/static/img/background.jpeg");
}

hr {
    background-color: white;
}

#wrapper {
    margin: 5vh;
    background-color: rgba(210, 180, 235, .35);
    border: 1px solid white;
    padding: 2vh;
    min-height: 80vh;
    border-radius: 5vh;
}

/* Navbar */
.navbar {
    background-color: rgb(125, 110, 135);
    border-bottom: solid 1px white;
    font-size: 30px;
}

.navbar a {
    color: white;
}
.navbar-toggler{
    float:right;
}
.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}
