{% extends "base.html" %}

{% block title %}
About Us
{% endblock %}

{% block body %}
<h1>Welcome to The Internet Of Things!</h1>
<p><h3>How This Works</h3></p>

<p><ol type="1">
  <li>Take a picture of a thing you want to know about.</li>
  <li>Upload it.</li>
  <li>Google Vision tells you what it is.</li>
  <li>Then you can explore other things, like, and dislike!</li>
</ol></p>

<p><b><i>Ready to start?</i></b> Click the button below</p>

<button onclick="window.location.href = '/snap';">Get Started</button>

{% endblock %}
