{% extends "base.html" %}

{% block title %}
Document
{% endblock %}

{% block body %}

<h1>Test</h1>
<!-- Stream video via webcam -->
<!-- <div class="video-wrap">
     <video id="video" playsinline autoplay></video>
     </div> -->

<!-- Trigger canvas web API -->
<div class="controller">
  <input type='file' onchange="changePic(this);" />
  <img id="show-img" src="#" alt="your image" />
  <button id="snap">Send</button>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/cameraAccess.js' ) }}"></script>
{% endblock %}
