{% extends "base.html" %}

{% block title %}
{{data["name"]}}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/displayThing.css') }}">
{% endblock %}

{% block body %}

<h2>Your Thing: {{data["name"]}}</h2>
<hr>
<span id="votes"> <button id="like"><img id="like-img" src="{{ url_for('static', filename='img/like-up-arrow.png') }}" /></button> {{data["likes"]}}  </span> ||<button id="dislike"><img id="dislike-img" src="{{ url_for('static', filename='img/dislike-down-arrow.png') }}"/> {{data["dislikes"]}}  </button> </span>
<br />
<img id="ref-img" src="{{ url_for('static', filename='img/things/'+data['mid'][3:] + '.png') }}" />



{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/displayThing.js' ) }}"></script>
{% endblock %}
